.container{
  border: 2px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.item{
  background-color: blueviolet;
  border: 2px solid black;
  width: 30px;
  height: 25px;
}